drupal:
  root: "build"
  base_url: "http://layout-builder-ibqe"
  database:
    host: "db"
    port: "3306"
    name: "drupal_upb"
    user: "user"
    password: "user"
  post_install:
    - "./vendor/bin/drush en -y layout_builder layout_builder_ibqe"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      container_yamls:
        - "/var/www/${drupal.root}/sites/development.services.yml"
      cache:
        bins:
          dynamic_page_cache: "cache.backend.null"
          page_cache: "cache.backend.null"
          render: "cache.backend.null"
      extension_discovery_scan_tests: TRUE
      file_scan_ignore_directories:
        - "vendor"
        - "${drupal.root}"

selenium:
  host: "http://selenium:4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - { task: "symlink", from: "../../..", to: "${drupal.root}/modules/custom/layout_builder_ibqe" }
    # Generate settings.testing.php, it will be used when running functional tests.
    - { task: "process-php", type: "write", config: "drupal.settings", source: "${drupal.root}/sites/default/default.settings.php", destination: "${drupal.root}/sites/default/settings.testing.php", override: true }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
