<div class="item px-2">
  <div class="fh5co_hover_news_img">
    <div class="fh5co_news_img">
      {{ fields.field_news_image.content }}
    </div>
    <div>
      <a class="d-block fh5co_small_post_heading"
        ><span class="">{{ fields.title.content }}</span></a
      >
      <div class="c_g">
        <i class="fa fa-clock-o"></i> {{ fields.created.content }}
      </div>
    </div>
  </div>
</div>
